<%- include('../../partials/header.ejs'); %>


<body>
    <div class="containerLoguin">
        <h1>Loguin Usuarios</h1>
        <form action="/logar" method="post">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="exemplo@email.com" class="form-control" required><br>
            <input type="password" name="senha" placeholder="Digite a senha" class="form-control"  required><br>
            <button class="btn btn-primary btn-block">Logar</button><br>
        </form>
        <img src="/img/user.png" alt="">
    </div>
</body>


<%- include('../../partials/footer.ejs') %>